language: cpp
dist: bionic

git:
  submodules: false
  depth: 10

cache:
  directories:

env:
  global:
    - OMP_NUM_THREADS=4
    - TIMEOUT=1000
    - BUILD_TYPE=Release
    - CTEST_OUTPUT_ON_FAILURE=1


script:
  - |
    make -j 4 ponca-examples
    make -j 2 buildtests
    make test


before_install:
  - export CHECKOUT_PATH=`pwd`;
  - eval "${MATRIX_EVAL}"
  - if [ -n "$GCC_VERSION" ]; then export CXX="g++-${GCC_VERSION}" CC="gcc-${GCC_VERSION}"; fi
  - if [ -n "$CLANG_VERSION" ]; then export CXX="clang++-${CLANG_VERSION}" CC="clang-${CLANG_VERSION}"; fi
  - export Ponca_RELEASE_NAME="Ponca-${APPVEYOR_REPO_TAG}-${TRAVIS_OS_NAME}-${CXX}"
  - $CXX --version
  - cmake --version

matrix:
  allow_failures:
    - env: ALLOW_FAILURE=true
  include:
    - os: osx
      name: osx gcc5
      osx_image: xcode10.1
      env:
        - MATRIX_EVAL="brew install gcc5 && CC=gcc-5 && CXX=g++-5"

    - os: osx
      name: osx gcc6
      osx_image: xcode10.1
      env:
        - MATRIX_EVAL="brew install gcc6 && CC=gcc-6 && CXX=g++-6"

    - os: osx
      name: osx gcc7
      osx_image: xcode10.1
      env:
        - MATRIX_EVAL="brew install gcc@7 && CC=gcc-7 && CXX=g++-7"

    - os: osx
      name: osx gcc8
      osx_image: xcode10.1
      env:
        - MATRIX_EVAL="brew install gcc@8 && CC=gcc-8 && CXX=g++-8"

    - os: osx
      name: osx clang902.0
      osx_image: xcode9.4

    - os: osx
      name: osx clang1000.11
      osx_image: xcode10.1

    - os: linux
      name: linux gcc5
      addons:
        apt:
          packages:
            - cmake
            - g++-5
      env:
         - MATRIX_EVAL="CC=gcc-5 && CXX=g++-5 && ALLOW_FAILURE=true"

    - os: linux
      name: linux gcc6
      addons:
        apt:
          packages:
            - cmake
            - g++-6
      env:
        - MATRIX_EVAL="CC=gcc-6 && CXX=g++-6 && ALLOW_FAILURE=true"

    - os: linux
      name: linux gcc7
      addons:
        apt:
          packages:
            - cmake
            - g++-7
      env:
        - MATRIX_EVAL="CC=gcc-7 && CXX=g++-7 && ALLOW_FAILURE=true"

    - os: linux
      name: linux clang4.0
      addons:
        apt:
          sources:
            - llvm-toolchain-trusty-4.0
          packages:
            - cmake
            - clang-4.0
      env:
        - MATRIX_EVAL="CC=clang-4.0 && CXX=clang++-4.0"

    - os: linux
      name: linux clang5.0
      addons:
        apt:
          sources:
            - llvm-toolchain-trusty-5.0
          packages:
            - cmake
            - clang-5.0
      env:
        - MATRIX_EVAL="CC=clang-5.0 && CXX=clang++-5.0"






    - stage: documentation
    - os: linux
      name: Documentation Generation
      addons:
        apt:
          packages:
            - doxygen
            - graphviz
        script:
        - make ponca-doc
        - make install



install:
  - cd $CHECKOUT_PATH

  - mkdir -p build
  - cd build
  - cmake .. -DCMAKE_C_COMPILER=$CC -DCMAKE_CXX_COMPILER=$CXX -DCMAKE_BUILD_TYPE=${BUILD_TYPE} -DCMAKE_INSTALL_PREFIX=./installed

after_success:
  - make install


# safelist
branches:
  except:
  - gh-pages

before_deploy:
  - zip --symlinks -r ${CHECKOUT_PATH}/build/${Ponca_RELEASE_NAME}.zip ${CHECKOUT_PATH}/build/installed/

deploy:
  - provider: pages
    skip_cleanup: true
    local_dir: build/installed/share/doc/html/
    github_token: $GITHUB_API_KEY
    on:
      branch: master
      condition: "$BUILD_DOC = On"
  - provider: releases
    api_key: "GITHUB OAUTH TOKEN"
    file: build/${Ponca_RELEASE_NAME}.zip
    skip_cleanup: true
    draft: true
    on:
      tags: true

