/*div.contents {
  max-width:100%;
  text-align:justify;
}*/

div.dessin:hover {
	border-color:#fbeac1 #c89f4e #8c6916;
}

div.dessin {
	/*border-color:#CCCCCC #6c6a64 #333230;
	border-style:solid;
	border-width:3px;*/
	float:left;
	height:200px;
	margin:4px;
	width:180px;
}

div.clear {
	clear: both;
}

#nav-sync {
	display:none;
}

a {
	font-weight:bold;
}